<div class="d-flex justify-content-between ">
   
        <mat-card class="text-center p-3 text-success shadow col-3 rounded bg-white">
            <h5>Total Orders</h5>
            <h5>{{totalOrders}}</h5>
        </mat-card>

        <mat-card class="text-center p-3 text-warning shadow col-3 rounded bg-white">
            <h5>Total Products</h5>
            <h5>{{totalProducts}}</h5>
        </mat-card>
    
        <mat-card class="text-center p-3 text-primary shadow col-3 rounded bg-white">
            <h5>Total Brands</h5>
            <h5>{{totalBrands}}</h5>
        </mat-card>

</div>
